.summary {
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 24px;
  @include breakpoint('small') {
    font-size: 18px;
    line-height: 26px;
  }
  h2.summary-title {
    margin-bottom: 16px;
    font-family: $font-family-heading;
    width: 80%;
    font-size: 34px;
    line-height: 38px;
    color: $black;
    @include breakpoint('small') {
      width: 80%;
      font-size: 52px;
      line-height: 58px;
    }
    a {
      color: $secondary;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .summary-date {
    font-weight: bold;
    color: $black;
  }
  p.summary-description {
    color: $carbon;
  }
}
