---
layout: default
body_classes: page-blog
---

<div class="intro">
  <h1>{{ page.title }}{% if site.data.theme.addDot %}<span class="dot">.</span>{% endif %}</h1>
  {% if page.description %}<p>{{ page.description }}</p>{% endif %}
</div>
{{ content }}
{% for post in site.blog %}
<div class="summary">
  <h2 class="summary-title"><a href="{{  post.url }}">{{ post.title }}</a></h2>
  <div class="summary-date">{{ post.date | date: '%B %d, %Y' }}</div>
  {% if site.data.theme.showSummaryDescription %}
  <p class="summary-description">{{ post.description }}</p>
  {% endif %}
</div>
{% endfor %}
