<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if page.meta_title %}{{ page.meta_title }}{% elsif page.title %}{{ page.title }} - {{ site.title}}{% else
    %}{{ site.title
    }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{{ '/favicon.png' | relative_url }}">
  <link href="{{ '/css/style.css' | relative_url }}" rel="stylesheet">
</head>

<body
  class='page {% if page.body_classes %}{{ page.body_classes }}{% endif %}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html %}
    {{content}}
    {% include footer.html %}
  </div>

  <script type="text/javascript" src="{{ '/js/scripts.js' | relative_url }}"></script>

  {% include google-analytics.html %}
</body>

</html>