// Font
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:300,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

$primary: #ffffff;
$secondary: #424de2;
$black: #1c1c1c;
$carbon: #383838;
$font-family-heading: 'Poppins', sans-serif;
$font-family-paragraph: Helvetica, sans-serif;
$font-family-mono: 'monospace';

$breakpoints: (
  'small': 767px,
  'medium': 992px,
  'large': 1200px,
);

// @import 'theme/mustard';
@import 'breakpoints';
@import 'pygments/github';

body {
  background-color: $primary;
  font-family: $font-family-paragraph;
  margin: 0;
  padding: 30px;
  @include breakpoint('small') {
    padding: 50px 50px 50px 50px;
  }
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-family: $font-family-heading;
  font-size: 90px;
  line-height: 96px;
  width: 80%;
  color: $black;
  strong {
    color: $secondary;
  }
}
h2 {
  font-family: $font-family-heading;
  font-size: 50px;
  line-height: 56px;
  width: 80%;
  color: $black;
}
p {
  font-size: 22px;
  line-height: 28px;
  color: $carbon;
}
a {
  color: $secondary;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.header {
  color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $black;
  padding-top: 10px;
  margin-bottom: 40px;
  a.header-title {
    font-size: 16px;
    font-weight: bold;
    font-family: $font-family-heading;
    color: $black;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.main-menu {
  > ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    > li {
      list-style: none;
      font-size: 14px;
      margin-left: 10px;
      > a {
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: $secondary;
        &:hover {
          color: $secondary;
          text-decoration: underline;
        }
      }
      &.active {
        > a {
          display: inline-block;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          color: $secondary;
          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }
}

.post {
  margin-bottom: 40px;
  .post-title {
    margin-bottom: 16px;
  }
  .post-date {
    font-weight: bold;
  }
  .post-image {
    margin-left: -100px;
    margin-right: -100px;
  }
  .content {
    margin-top: -100px;
    z-index: 2;
    position: relative;
  }
}

.content {
  font-size: 18px;
  font-family: $font-family-paragraph;
  p {
    font-size: 18px;
    line-height: 1.6;
    font-family: $font-family-paragraph;
    color: $carbon;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  h1 {
    font-family: $font-family-heading;
    font-size: 40px;
    line-height: 1.6;
    font-weight: bold;
    color: $black;
    margin-top: 30px;
    margin-bottom: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  h2 {
    font-family: $font-family-heading;
    font-size: 30px;
    line-height: 1.4;
    font-weight: bold;
    color: $black;
    margin-top: 30px;
    margin-bottom: 20px;
    &:first-of-type {
      margin-top: 0;
    }
  }
  h3 {
    font-size: 1.6rem;
    font-family: $font-family-heading;
    color: $black;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  ul,
  ol {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style: disc;
    li {
      font-size: 18px;
      line-height: 20px;
      margin-bottom: 10px;
      margin-left: 20px;
      color: $carbon;
    }
  }
  a {
    color: $secondary;
    text-decoration: underline;
    font-weight: bold;
    &:hover {
      color: $secondary;
    }
  }
  blockquote {
    margin-left: 0;
    margin-right: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    border-left: 4px solid $secondary;
    padding-left: 40px;
  }
  blockquote p {
    display: inline;
    color: $black;
  }
  img {
    margin: 40px 0 40px 0;
    max-width: 100%;
    height: auto;
  }
  code,
  pre {
    font-family: $font-family-mono;
  }
  .highlight {
    pre {
      border-radius: 3px;
      font-size: 14px;
      line-height: 19px;
      padding: 30px;
      overflow: auto;
      font-family: $font-family-mono;
    }
  }
}

.social-icon {
  margin-right: 10px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      img {
        opacity: 0.7;
      }
    }
    img {
    }
  }
}

.paper {
  background: $primary;
  // border-radius: 4px;
  border-radius: 1px 1px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}

.author {
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid $black;
  }
  .author-date {
    display: inline-block;
    vertical-align: middle;
    color: $carbon;
  }
  .author-name {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    margin-left: 5px;
    color: $secondary;
  }
}
