:root {
  --font-family-heading: 'Poppins', sans-serif;
  --font-family-paragraph: Helvetica, sans-serif;
  --font-family-mono: monospace;
  --background-color: #ffffff;
  --primary: #ff1654;
  --text-color: set-text-color(v(background-color));
  --heading-color: set-heading-color(v(background-color));
}
