<div class='header'>
  <a class="header-logo" href="<%= config.root %>"><%= config.title %></a>
  <%- partial('_partial/main-menu') %>
  <div id="toggle-main-menu-mobile" class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>