.blog {
  .post-date {
    font-weight: bold;
  }
  .content {
    padding-top: 30px;
    z-index: 2;
    position: relative;
    background: white;
    @include breakpoint('small') {
      margin-top: -100px;
      padding: 40px;
    }
  }
}