.header {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #000;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
