@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,500,600,700,900&display=swap');

var(--highlight): #fed700;
$secondary: #ef6461;
$black: rgb(46, 44, 33);
$carbon: #36363a;
$font-family-heading: 'Poppins', sans-serif;
$font-family-paragraph: Helvetica, sans-serif;
$font-family-mono: monospace;

.test {
  color: blue;
}
